psutil==4.1.0
pytest==2.9.0
sphinx-rtd-theme==0.1.9
sphinx==1.3.6
pytest-xdist==1.14
pytest-env==0.6.0
pytest-cov==2.2.1
coverage-pth==0.0.1
pytest-mock==0.11.0
pytest-localserver==0.3.5
requests==2.9.1
pymysql==0.7.2
numpy==1.10.4
pandas==0.18.0
click==6.3
more-itertools==2.2
pyxdg==0.25
sqlparse==0.1.19
scipy==0.17.0
numpydoc==0.6.0
pytest-capturelog==0.7
plumbum==1.6.1.post0
scikit-learn==0.17.1
collections-extended==0.7.0
alabaster==0.7.7          # via sphinx
apipkg==1.4               # via execnet
babel==2.2.0              # via sphinx
coverage==4.0.3           # via coverage-pth, pytest-cov
docutils==0.12            # via sphinx
execnet==1.4.1            # via pytest-xdist
Jinja2==2.8               # via sphinx
MarkupSafe==0.23          # via jinja2
py==1.4.31                # via pytest, pytest-capturelog, pytest-xdist
Pygments==2.1.3           # via sphinx
python-dateutil==2.5.1    # via pandas
pytz==2016.2              # via babel, pandas
six==1.10.0               # via python-dateutil, sphinx
snowballstemmer==1.2.1    # via sphinx
werkzeug==0.11.5          # via pytest-localserver
